@model yevgeller2.ViewModels.ProjectViewViewModel

@{
    ViewBag.Title = "List of projects";
}

<h2>Index</h2>

@foreach (var item in Model.Projects)
{
    <div class="projectInfo">
        <div class="projectHeader">@item.Name</div>
        <span class="projectYears">@item.Year</span>
        <span class="projectTechnology">(@item.Technology)</span>
        <div class="projectDescription">@item.Description</div>
        <a href="@item.Url">Link</a>

        <span class="projectTags">
            @item.TagsForDisplay
        </span>
        @*@if(Model.IsAuthenticated)*@
            <a href="#">Edit this project -- do later and lock it up </a>
        
    </div>
}
