@model yevgeller2.ViewModels.ProjectViewViewModel

@{
    ViewBag.Title = "List of projects";
}

<h2>All projects</h2>

@foreach (var item in Model.Projects)
{
    <div class="projectInfo">
        <div class="projectHeader">
            <span class="projectName">@item.Name</span>
            <span class="projectYears">( @item.Year, main technology: @item.Technology)</span>
        </div>
        <div class="projectDescription">@item.Description</div>

        <span class="projectTags">
            <span class="tagHeader">Tags:</span> @item.TagsForDisplay
        </span>
        <div class="voffset12">
            @if (item.ShowUrl)
            {
                <span class="glyphicon glyphicon-link"></span>
                <a href="@item.Url" target="_blank" class="projectYears">Link</a>
            }
            @if (Model.IsAuthenticated)
            {
                <a href="@Url.Action("Edit", "Projects", new { id=item.Id})" class="serviceLinks">Edit</a>
                <input type="button" class="visibilityToggler btn" js-arg="@item.Id" value="hide" />
            }
        </div>
        <hr />
    </div>
}
@Html.ActionLink("Back to the front page", "Index", "Home", null, new { @class = "voffset50" })


@if (Model.IsAuthenticated)
{
    <h3>These projects are hidden for non-authenticated users:</h3>
    if (!Model.HiddenProjects.Any())
    { <div>none</div>}
    foreach (var item in Model.HiddenProjects)
    {
        <div class="projectInfo">
            <div class="projectHeader">
                <span class="projectName">@item.Name</span>
                <span class="projectYears">( @item.Year, main technology: @item.Technology)</span>
            </div>
            <div class="projectDescription">@item.Description</div>
            <span class="projectTags">
                <span class="tagHeader">Tags:</span> @item.TagsForDisplay
            </span>

            <div class="voffset20">
                @if (item.ShowUrl)
                {
                    <span class="glyphicon glyphicon-link"></span>
                    <a href="@item.Url" target="_blank" class="projectYears">Link</a>
                }
                <a href="@Url.Action("Edit", "Projects", new { id = item.Id })" class="serviceLinks">Edit</a>
                <input type="button" class="visibilityToggler btn" js-arg="@item.Id" value="show" />
            </div>
        </div>
        <hr />
    }


    @Html.ActionLink("Back to the front page", "Index", "Home", null, new { @class = "voffset50" })
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var links = $(".visibilityToggler");

            links.on("click", function (e) {
                //var id = $(this).attr("js-arg");
                var $btn = $(this);
                var id = $btn.attr("js-arg");
                var newVal = $btn.val() == "hide" ? "show" : "hide";
                if (id > 0) {
                    var api = "/api/projectsapi/ToggleProjectVisibilityStatus/" + id;
                    $.post(api, 0).done(function () {
                        console.log("done");
                        $btn.val(newVal);

                        //location.reload();
                    });
                }
            });

            return false;
        });

    </script>

}